# API Keys
# OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxx
# COHERE_API_KEY=api_key_here
OLLAMA_KEY="ollama_key"
OLLAMA_URL="http://localhost:11434/v1"
MODEL_NAME="llama3.2"

# App Settings
LOG_LEVEL=DEBUG
ENVIRONMENT=local